@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

.heading {
	text-transform: uppercase;
	color: #bbb;
}

header {
	display: flex;
	width: 100%;
	position: fixed;
	justify-content: space-between;
	align-items: center;
	padding: 40px 100px;
	z-index: 1000;
	transition: all 0.5s ease;
}

body > header > div.linkGithub > a {
	text-decoration: none;
	color: #bbb;
	letter-spacing: 1.5px;
	font-size: 1em;
}

header > ul.navegationMenu {
	display: flex;
}

header > ul.navegationMenu > li {
	list-style: none;
}

header .navegationMenu li a {
	display: inline-block;
	margin: 0 15px;
	letter-spacing: 1px;
	text-decoration: none;
	color: #bbb;
}

header > .menuButton {
	position: absolute;
	right: 20px;
	background: none;
	border: none;
	color: #000;
	visibility: hidden;
	top: 24px;
	cursor: pointer;
	z-index: 1000;
}

header > .menuButton span {
	display: block;
	background: #000;
	height: 2px;
	width: 20px;
	transition: 0.6s;
}

header > .menuButton span::before {
	content: '';
	display: block;
	position: relative;
	top: -7px;
	width: 20px;
	height: 2px;
	background: #000;
	transition: 0.6s;
}

header > .menuButton span::after {
	content: '';
	display: block;
	position: relative;
	top: 5px;
	width: 20px;
	height: 2px;
	background: #000;
	transition: 0.6s;
}

header.sticky {
	background: #ffff;
	padding: 20px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

header.sticky div.linkGithub a,
header.sticky .navegationMenu a {
	color: #000;
}

section.home {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	height: 100vh;
	background: #111;
	overflow: hidden;
}

section.home > img {
	position: absolute;
	width: 100%;
	opacity: 0.1;
	transform: translate(0, -25px);
}

section.home > div.presentation {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

section.home > div.presentation h2 {
	color: #bbb;
	font-size: 1em;
	font-weight: 300;
}

section.home > div.presentation > div.myName {
	margin: 10px 0;
	display: flex;
	position: relative;
	max-width: 458px;
	width: 100%;
	padding-top: 8px;
	flex-direction: column;
	align-self: center;
}

section.home > div.presentation > div.myName > div {
	display: flex;
	align-items: center;
	justify-content: center;
}

section.home > div.presentation > div.myName > div > h2 {
	text-transform: uppercase;
	font-size: 2em;
	font-weight: 700;
	white-space: nowrap;
}

section.home > div.presentation > div.myName > div > span.cursor {
	position: relative;
	top: -3px;
	font-size: 2em;
	font-weight: 700;
	color: #bbb;
	animation: cursor 1s steps(2) infinite;
}

@keyframes cursor {
	0%,
	70% {
		opacity: 1;
	}

	71%,
	99% {
		opacity: 0;
	}
}

section.home > div.presentation > div.contactContent {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 220px;
	height: 40px;
	gap: 40px;
	margin-top: 5px;
	padding-top: 5px;
	border-top: #fff solid 1px;
}

section.home > div.presentation > div.contactContent > div {
	width: 20px;
	height: 20px;
}

section.home > div.presentation > div.contactContent > div img {
	width: 100%;
}

section.home > div.presentation > div.contactContent > div.whatsapp img {
	width: 24px;
	transform: translate(0, -2.5px);
}

.about {
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	padding: 100px 50px;
	gap: 70px;
}

.about .heading {
	text-transform: uppercase;
	color: #000;
}

.about .aboutContent {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.about .aboutContent .personDescription {
	aspect-ratio: 16/9;
	padding: 40px;
	width: 50%;
	margin-right: 40px;
	box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#about > div.aboutContent > div.personDescription > p {
	letter-spacing: 1px;
	margin-bottom: 2rem;
	color: #000;
}

#about > div.aboutContent > div.personDescription > p:nth-child(2) {
	margin: 0;
}

.about .imgContent {
	display: flex;
	position: relative;
	right: 3rem;
	align-items: center;
	justify-content: center;
	aspect-ratio: 1/1;
	width: 30%;
	border-radius: 50%;
	background: radial-gradient(#93cfff, #2c40f5);
	border: solid 6px #008cff;
	overflow: hidden;
}

.about .imgContent .image {
	background-image: url('../img/IMG_20221211_154625.jpg');
	width: 90%;
	height: 90%;
	border-radius: 50%;
	background-size: cover;
}

.skills {
	display: flex;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	background: #111;
	padding: 100px 50px;
	gap: 70px;
}

.skills .header h2 {
	color: #bbb;
	text-transform: uppercase;
}

.skills .skillContent {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 40px;
}

.skills .skillContent .skillCard {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	width: 200px;
	height: 200px;
	background: #444;
	border-radius: 7px;
	overflow: hidden;
}

.skills .skillContent .skillCard h3 {
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 3px;
}

.skills .skillContent .skillCard span {
	transition: 0.5s;
	opacity: 0;
}

.skills .skillContent .skillCard:hover span {
	opacity: 1;
}

.skills .skillContent .skillCard span:nth-child(1) {
	position: absolute;
	background: linear-gradient(to right, transparent, #2c40f5);
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	animation: animacao1 2s linear infinite;
}

@keyframes animacao1 {
	0% {
		left: -100%;
	}

	100% {
		left: 100%;
	}
}

.skills .skillContent .skillCard span:nth-child(2) {
	position: absolute;
	background: linear-gradient(to bottom, transparent, #2c40f5);
	top: 0;
	right: 0;
	width: 2px;
	height: 100%;
	animation: animacao2 2s linear infinite;
	animation-delay: 1s;
}

@keyframes animacao2 {
	0% {
		top: -100%;
	}

	100% {
		top: 100%;
	}
}

.skills .skillContent .skillCard span:nth-child(3) {
	position: absolute;
	background: linear-gradient(to left, transparent, #2c40f5);
	bottom: 0;
	right: 0;
	width: 100%;
	height: 2px;
	animation: animacao3 2s linear infinite;
	animation-delay: 2s;
}

@keyframes animacao3 {
	0% {
		right: -100%;
	}

	100% {
		right: 100%;
	}
}

.skills .skillContent .skillCard span:nth-child(4) {
	position: absolute;
	background: linear-gradient(to top, transparent, #2c40f5);
	bottom: 0;
	left: 0;
	width: 2px;
	height: 100%;
	animation: animacao4 2s linear infinite;
	animation-delay: 3s;
}

@keyframes animacao4 {
	0% {
		bottom: -100%;
	}

	100% {
		bottom: 100%;
	}
}

.projects {
	background: #111;
	min-height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 100px 50px;
	gap: 70px;
}

.projects .heading {
	text-transform: uppercase;
	color: #bbb;
}

.projects .projectContent {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 40px;
}

.projects .projectCard {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	aspect-ratio: 16/9;
	min-width: 300px;
	overflow: hidden;
	transition: 0.4s ease;
	cursor: pointer;
	border-radius: 5px;
}

.projects .projectCard img {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 1;
	filter: blur(3px);
	/* object-fit: ; */
}

.projects .projectCard h3 {
	text-transform: uppercase;
	font-size: 0.9em;
	z-index: 1000;
	color: #fff;
}

.projects .scaleUp:hover {
	transform: scale(1.2);
	font-size: 1.6em;
}

div.boxProjectCard {
	display: none;
	position: fixed;
	top: calc(50% + 34px);
	left: 50%;
	width: 80%;
	min-width: 661px;
	background-color: #333;
	z-index: 1000;
	transform: translate(-50%, -50%);
	border-radius: 10px;
}

div.boxProjectCard.projectActive {
	display: block;
}

/*botão de fechar*/
div.boxProjectCard > span {
	display: block;
	position: absolute;
	right: 20px;
	top: 30px;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

div.boxProjectCard > span::after,
div.boxProjectCard > span::before {
	position: absolute;
	top: 9px;
	display: block;
	content: '';
	width: 20px;
	height: 2px;
	background: #111;
}

div.boxProjectCard > span::after {
	transform: rotate(45deg);
}

div.boxProjectCard > span::before {
	transform: rotate(-45deg);
}

div.boxProjectCard > div.boxHeader {
	margin: 15px 10px 0;
	color: #eee;
}

div.boxProjectCard > div.boxAbout {
	display: inline-block;
	width: 25%;
	position: absolute;
	transform: translateY(15px);
	color: #eee;
}

body > div > div.boxAbout > h2 {
	margin-bottom: 10px;
}

div.boxProjectCard > div.boxVideo {
	display: inline-block;
	width: 70%;
	margin: 20px 10px;
}

div.boxProjectCard > div.boxVideo > video {
	width: 100%;
	border-radius: 5px;
	box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.4);
}

/* responsividade */

@media (max-width: 760px) {
	header {
		padding: 20px;
	}

	.about .aboutContent {
		flex-direction: column-reverse;
		gap: 30px;
	}

	.about .aboutContent .personDescription {
		margin: 0;
		width: 100%;
	}

	.about .imgContent {
		width: 80%;
		right: 0;
	}

	.projects .projectCard {
		width: 100%;
	}

	.projects .scaleUp:hover {
		transform: scale(1.1);
	}

	div.boxProjectCard {
		width: calc(100% - 20px);
		margin: 10px;
		max-width: 661px;
		min-width: auto;
		transform: translate(calc(-50% - 10px), -50%);
	}

	div.boxProjectCard > div.boxVideo {
		display: block;
		width: calc(100% - 20px);
	}

	div.boxProjectCard > div.boxAbout {
		display: block;
		position: static;
		width: calc(100% - 20px);
		margin: 10px;
		transform: translate(0, 0);
	}
}

@media (max-width: 530px) {
	* {
		scroll-behavior: auto;
	}

	.skills .skillContent {
		flex-direction: column;
		width: 100%;
	}

	.skills .skillContent .skillCard {
		width: 100%;
		height: 200px;
	}

	#home > div > div.myName > div > h2,
	#home > div > div.myName > div > span {
		font-size: 1rem;
	}

	#home > div > div.myName > div > span {
		transform: translateY(2px);
	}

	header {
		flex-direction: column;
		background: #fff;
	}

	body > header > div.linkGithub {
		align-self: flex-start;
		z-index: 1000;
	}

	body > header > div.linkGithub a {
		color: #000;
	}

	header .menuButton {
		visibility: visible;
		display: block;
		cursor: pointer;
		width: 20px;
		height: 20px;
	}

	header .menuButton.active > span {
		background: transparent;
	}

	header .menuButton.active span::before {
		transform-origin: center;
		transform: translate(0, 7px) rotate(-135deg);
	}

	header .menuButton.active span::after {
		transform-origin: center;
		transform: translate(0, -7px) rotate(135deg);
	}

	header .navegationMenu {
		visibility: hidden;
		overflow: hidden;
		position: absolute;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		top: 68px;
		background: #fff;
		width: 100%;
		height: 0;
		transition: 0.4s;
	}

	header .navegationMenu.display {
		visibility: visible;
		height: calc(100vh - 68px);
	}

	header .navegationMenu li a {
		color: #000;
	}
}

@media (max-width: 450px) {
	.about,
	.skills,
	.projects {
		padding: 100px 10px;
	}

	.about .aboutContent .personDescription {
		padding: 10px;
	}

	.projects .scaleUp:hover {
		transform: scale(1);
	}
}
