@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*
{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.white
{
    color: #fff;
}
.heading
{
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 100px; 
}
.home
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 100%;
    background: #111;
    overflow: hidden;
}
.home img
{
    position: absolute;
    width: 100%;
    opacity: .1;
}
.home .presentation
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 50%;
    width: 100%;
}
.home .presentation h2
{
    color: #fff;
    font-size: 1em;
    font-weight: 300; 
}
.home .myName
{
    display: flex;
    position: relative;
    width: 458px;
    padding-top: 8px;
}
.home .myName h2
{
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 700;
    white-space: nowrap;
}
.home .myName .cursor
{
    position: relative;
    top: -3px;
    font-size: 2em;
    font-weight: 700;
    color: #fff;
    animation: cursor 1s steps(2) infinite;
}
@keyframes cursor
{
    0%, 70%
    {
        opacity: 1;
    }
    71%, 99%
    {
        opacity: 0
    }
}
header
{
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    z-index: 1000;
    transition: all .5s ease;
}
header .linkGithub
{
    width: 100px;
    justify-content: space-between;
    align-items: center;
}
header .linkGithub a 
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
    font-size: 1.5em;
    font-weight: 700;
}
header .linkGithub div
{
    background: #fff;
    transform: translate(-5px, -4px);
    width: 28px;
    height: 28px;
    border-radius: 50%;
}
header .linkGithub a img
{
    position: relative;
    left: -1px;
    width: 30px;
    cursor: pointer;
}
header .navegarionMenu
{
    display: flex;
}
header .navegarionMenu li
{
    list-style: none;
}
header .navegarionMenu li a
{
    display: inline-block;
    margin: 0 15px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
}
header.sticky
{
    background: #ffff;
    padding: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}
header.sticky .linkGithub a,
header.sticky .navegarionMenu a
{
    color: #000;
}
.about
{
    position: relative;
    display: flex;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
}
.about .aboutMe
{
    position: absolute;
    text-transform: uppercase;
    top: 150px;
    left: 50%;
    font-weight: 700;
    transform: translate(-50%, -50%);
}
.about .personDescription
{
    display: flex;
    width: 50vw;
}
.about .personDescription div
{
    position: relative;
    margin: 0 auto;
    padding: 30px;
    width: 500px;
    height: 300px;
    min-width: 350px;
    box-shadow: -10px 10px 30px rgba(0,0,0,0.2);
}
.about .personDescription div p
{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    letter-spacing: 1px;
    color: #000
}
.about .profileImg
{
    width: 50vw;
}
.about .profileImg img
{
    width: 100%;
    padding: 40px;
    min-width: 400px;
}
.skills
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background: #111;
}
.skills .header h2
{
    color: #fff;
    margin-bottom: 100px;
    text-transform: uppercase;
}
.skills .skillContent
{
    display: flex;
    flex-wrap: wrap;
}
.skills .skillContent h3
{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
}
.skills .skillContent .skillCard
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 200px;
    height: 200px;
    background: #444;
    margin: 20px;
    border-radius: 7px;
    overflow: hidden;
}
.skills .skillContent .skillCard span
{
    transition: .5s;
    opacity: 0;
}
.skills .skillContent .skillCard:hover span
{
    opacity: 1;
}
.skills .skillContent .skillCard span:nth-child(1)
{
    position: absolute;
    background: linear-gradient(to right, transparent, #2c40f5);
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    animation: animacao1 2s linear infinite;
}
@keyframes animacao1
{
    0%
    {
        left: -100%;
    }
    100%
    {
        left: 100%;
    }
}
.skills .skillContent .skillCard span:nth-child(2)
{
    position: absolute;
    background: linear-gradient(to bottom, transparent, #2c40f5);
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    animation: animacao2 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animacao2
{
    0%
    {
        top: -100%;
    }
    100%
    {
        top: 100%;
    }
}
.skills .skillContent .skillCard span:nth-child(3)
{
    position: absolute;
    background: linear-gradient(to left, transparent, #2c40f5);
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    animation: animacao3 2s linear infinite;
    animation-delay: 2s;
}
@keyframes animacao3
{
    0%
    {
        right: -100%;
    }
    100%
    {
        right: 100%;
    }
}
.skills .skillContent .skillCard span:nth-child(4)
{
    position: absolute;
    background: linear-gradient(to top, transparent, #2c40f5);
    bottom: 0;
    left: 0;
    width: 2px;
    height: 100%;
    animation: animacao4 2s linear infinite;
    animation-delay: 3s;
}
@keyframes animacao4
{
    0%
    {
        bottom: -100%;
    }
    100%
    {
        bottom: 100%;
    }
}
.projects
{
    background: #111;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.projects > div
{
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 100px;
}
.projects .projectContent
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.projects .projectCard
{
    position: relative;
    display: flex;
    justify-content: center;    
    align-items: center;
    flex-direction: column;
    aspect-ratio: 3/2;
    width: 350px;
    margin: 20px;
    overflow: hidden;
    transition: .4s ease;
}
.projects .projectCard img
{
    position: absolute;
    width: 100%;
    opacity: 1;
    filter: blur(3px);
}
.projects .projectCard h3
{
    font-size: .9em;
    z-index: 1000;
}
.projects .projectCard:hover
{
    transform: scale(1.2);
    font-size: 1.6em;
}
.contact
{
    background: #111;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 300px;
}
.contact .heading
{
    margin-bottom: 0;
}
.contactContent
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;

}
.contactInfo
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 40%;
    margin-right: 50px;
    min-width: 250px;
}
.contactInfo .box
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contactInfo .box .text
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contactInfo .box .text h3, p
{
    color: #555;
    margin: 10px 0;
}
.contactInfo .box .text h3
{
    color: #2c40f5;
    margin: 10px 0;
}
.formContent
{
    width: 60%
}
.formContent form
{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    padding-right: 20%;
}
.formContent form input,
.formContent form textarea
{
    border: none;
    text-decoration: none;
    outline: none;
    resize: none;
    margin: 10px 0;
    height: 30px;
    background: #222;
    color: #fff;
    padding: 10px;
}
.formContent form textarea
{
    min-height: 200px;
}
.formContent form input::placeholder,
.formContent form textarea::placeholder
{
    color: #999;
}
.formContent form input[type="submit"]
{
    max-width: 100px;
    height: 60px;
    background: #2c40f5;
    text-transform: uppercase;
    cursor: pointer;
}